
.body {
    background-color: black;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
    color: gold;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: purple;
    margin: 40px;
    padding: 40px;
    border: black;
    outline-style: inset;  
}